/** PASSITON STYLESHEET **/

$main-color: #00B4FF;
$shadow-color: #008AB5;
$font-color: #ffffff;

$header-fonts: 'Montserrat', sans-serif;
$body-fonts: 'Hind', sans-serif;

html, body {
    width: 100%;
    background-color: $main-color;
}

